<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="DEV_HOME" value="C:/var/log/log4j_logs" />
	<!-- <property name="DEV_HOME" value="/opt/runnables/newHireService/logs" /> -->
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
			<pattern>[%p] %d{ISO8601} %c - %m%n</pattern>
		</encoder>
	</appender>

<!--  Size and Time based rolling file
	Note the “%i” conversion token in addition to “%d”. 
	Each time the current log file reaches maxFileSize before the current time period ends, 
	it will be archived with an increasing index, starting at 0.
-->

	<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/benefits-newHire-alerts.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--  <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</Pattern> -->
			<Pattern>[%p] %d{ISO8601} %c - %m%n</Pattern>
		</encoder>

<!--  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DEV_HOME}/onboarding.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
--> 
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${DEV_HOME}/benefits-newHire-alerts.%i.log</fileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
		
		
	</appender>
 
	<logger name="com.winsupply.benefitys.newhirealerts" level="debug" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="lotus.domino" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>


<!--
 	<logger name="org.springframework.batch" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
-->
	<root level="error">
		<!-- <appender-ref ref="FILE-AUDIT" /> -->
		<appender-ref ref="STDOUT" />
	</root>
 
</configuration>